<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idDep"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="fullNameDep" caption="Полное название"></dxi-column>

  <dxi-column dataField="shortNameDep" caption="Сокращенное название"></dxi-column>

  <dxi-column dataField="typeId" caption="Тип отдела">
    <dxo-lookup [dataSource]="types"
                displayExpr="nameType"
                valueExpr="idType">
    </dxo-lookup>
  </dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Отделы"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>

</dx-data-grid>
