<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idPost"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="namePost" caption="Должность">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="async"
                         message="Данная должность существует"
                         [validationCallback]="asyncValidation">
    </dxi-validation-rule>
    <dxi-validation-rule type="stringLength" [max]="50" message="Превышено максимальное количество допустимых символов">
    </dxi-validation-rule>
  </dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Должности"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>

</dx-data-grid>
